{# uncomment to minimize code #}
{# {% apply spaceless %} #}

{# macros #}
{% from '../macros/icon.twig' import icon as icon %}
{% from '../macros/picture.twig' import picture as picture %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="{% block metaDescription %}{{ "Notices" }}{% endblock %}"/>
    <meta name="author" content="Notices"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>
      {% block metaTitle %}
        {{ "Notices"  }}
      {% endblock %}
    </title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#cb202a">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#cb202a">
    <meta name="theme-color" content="#cb202a">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-config" content="browserconfig.xml">
    {% block css %}
      <link rel="stylesheet" href="assets/css/styles.css"/>
    {% endblock %}
  </head>
  <body class="{% if colorTheme == 'blue' %} {% if primaryColor == 'bluekiosk' %} bg-bluekiosk {% else %} bg-blue-500 {% endif %} {% endif %}">
    {% block header %}
      {% include "../components/header.twig" %}
    {% endblock %}
    {% block content %}{% endblock %}

    {% block footer %}
      {% if footerBig == true %}
        {% include "../components/footer-full.twig" %}
      {% endif %}
    {% endblock %}


    {% block js %}
      <script src="assets/js/app.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js" integrity="sha256-kTezPOsOi5ZsWUKr7/D/EWcONq/hdrc0gPwk5/IUYy0=" crossorigin="anonymous"></script>
      <script>
        svg4everybody();
      </script>
    {% endblock %}
  </body>
</html>
{# {% endapply %} #}
