.card {
  @apply border-4 border-red-500 bg-white h-full flex flex-col;

  &__header {
    @apply bg-red-500 relative text-white text-xl font-bold text-center px-4 py-4 flex-shrink-0;

    @screen sm {
      @apply text-2xl;
    }

    @screen lg {
      @apply text-xl py-8;
    }

    @screen xl {
      @apply text-2xl;
    }

    &::before {
      @apply absolute bg-no-repeat bg-center;

      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='69.625' height='21.734' viewBox='0 0 69.625 21.734'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23CF2A27;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M755.234-5468.265,720.422-5490h69.625l-34.813,21.734Z' transform='translate(-720.422 5490)'/%3E%3C/svg%3E");
      width: 70px;
      height: 22px;
      top: calc(100% - 1px);
      left: calc(50% - 35px);
    }
  }

  &__body {
    @apply pt-10 px-4 flex-grow;

    @screen sm {
      @apply px-16;
    }
  }

  &--bluekiosk {
    @apply border-bluekiosk;

    .card__header {
      @apply bg-bluekiosk;
    }

    .card__header::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='69.625' height='21.734' viewBox='0 0 69.625 21.734'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%234691DC;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M755.234-5468.265,720.422-5490h69.625l-34.813,21.734Z' transform='translate(-720.422 5490)'/%3E%3C/svg%3E");
    }
  }
}
