.form-checkbox {
  @apply relative;

  input[type='checkbox'],
  input[type='radio'] {
    @apply appearance-none hidden w-0 h-0;
  }

  label {
    @apply relative pl-10 select-none;

    &::before {
      @apply w-6 h-6 bg-white absolute rounded-form-control border border-gray-400 left-0 top-0 cursor-pointer;
      content: '';
    }

    &::after {
      @apply bg-no-repeat bg-center w-6 h-6 absolute left-0 top-0 cursor-pointer;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.72' height='10.479' viewBox='0 0 14.72 10.479'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%231d1d1d;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M1187.12,6290.712l4.948,4.948,8.358-8.357' transform='translate(-1186.413 -6286.596)'/%3E%3C/svg%3E");
      background-size: 60% auto;
    }
  }

  input[type='checkbox']:checked + label {
    &::after {
      content: '';
    }
  }

  &--style2 {
    label {
      &::before {
        @apply rounded-none;
      }
    }

    input[type='checkbox']:checked + label {
      &::before {
        @apply border-bluekiosk;
      }
    }
  }
}
