.steps {
  @apply items-start justify-between relative;

  &__item {
    @apply flex flex-col items-center px-2 text-xs relative;

    @screen md {
      @apply px-6;
    }

    @screen lg {
      &:first-child,
      &:last-child {
        @apply w-64;
      }

      &::before {
        @apply absolute;

        content: '';
        width: 101px;
        height: 10px;
        top: 1rem;
        transform: translateX(90px);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='101' height='10' viewBox='0 0 101 10'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23e1e6eb;stroke-width:2px;%7D.b%7Bfill:%23e1e6eb;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-498.5 -23.5)'%3E%3Cline class='a' x2='97' transform='translate(498.5 28.5)'/%3E%3Cpath class='b' d='M5,0l5,6H0Z' transform='translate(599.5 23.5) rotate(90)'/%3E%3C/g%3E%3C/svg%3E");
      }

      &:last-child::before {
        content: none;
      }
    }
  }

  &__num {
    @apply flex items-center justify-center border-2 border-blue-500 text-blue-500 w-10 h-10 rounded-full font-semibold text-lg;

    .is-done & {
      @apply text-transparent bg-no-repeat bg-center bg-blue-500;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.87' height='14.05' viewBox='0 0 19.87 14.05'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23fff;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M1438.219-1668.185l6.527,6.527,11.929-11.929' transform='translate(-1437.512 1674.294)'/%3E%3C/svg%3E");
    }

    .is-active & {
      @apply bg-blue-500 text-white;
    }
  }

  &__label {
    @apply font-semibold;
  }

  &--big-arrow {
    @screen lg {
      .steps__item {
        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='105' height='22' viewBox='0 0 105 22'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23e1e6eb;stroke-width:7px;%7D.b%7Bfill:%23e1e6eb;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-498.5 -17.5)'%3E%3Cline class='a' x2='97' transform='translate(498.5 28.5)'/%3E%3Cpath class='b' d='M11,0,22,14H0Z' transform='translate(603.5 17.5) rotate(90)'/%3E%3C/g%3E%3C/svg%3E");
          top: 0.6rem;
          width: 105px;
          height: 22px;
        }
      }
    }
  }

  &--blue-500 {
    .steps__num {
      @apply border-blue-500 text-blue-500;
    }

    .is-done .steps__num {
      @apply text-transparent bg-blue-500;
    }

    .is-active .steps__num {
      @apply bg-blue-500 text-white;
    }
  }

  &--bluekiosk {
    .steps__num {
      @apply border-bluekiosk text-bluekiosk;
    }

    .is-done .steps__num {
      @apply text-transparent bg-bluekiosk;
    }

    .is-active .steps__num {
      @apply bg-bluekiosk text-white;
    }
  }
}
