$h-form-control: 2.625rem;
$h-form-control-lg: 3rem;
$h-form-control-xl: 4.5rem;

.text-2xl {
  font-size: 1.5rem;
}

.text-gray-600 {
  color: #718096;
}

.text-body {
  color: $body-color;
}

.text-xs {
  font-size: 0.725rem;
}

.text-sm {
  font-size: 0.875rem;
}

.bg-gray-100 {
  background: #f7fafc !important;
}

.bg-gray-300 {
  background: #e2e8f0;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.underline {
  text-decoration: underline;
}

a.underline:hover {
  text-decoration: none;
}

.w-8 {
  width: 2rem !important;
}

.h-8 {
  height: 2rem !important;
}

.bg-gray-200 {
  background: #edf2f7;
}

.leading-tight {
  line-height: 1.3;
}

.bg-orange {
  background: #feebc8;
}

.color-orange {
  color: #dd6b20;
}

.w-24 {
  width: 6rem;
}

.h-24 {
  height: 6rem;
}

.w-4 {
  width: 1.125rem !important;
}

.h-4 {
  height: 1.125rem !important;
}

.bg-danger-light {
  background: #fbebeb;
}

.cc-icon {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  padding-top: 0.5em;
  padding-right: 0.5em;
  opacity: 0.6;
}

.max-w-lg {
  max-width: 32rem;
}

.max-w-xl {
  max-width: 36rem;
}

.step-2-max-width {
  max-width: 36rem;

  @include media-breakpoint-up(lg) {
    max-width: 56rem;
  }
}

.text-gray-500 {
  color: #a0aec0;
}
