<div class="flex justify-between text-white font-semibold text-sm font-headings select-none">
  <span class="flex items-center mr-4">
    <img src="assets/img/icon-satisfait-ou-rembourse.svg" class="flex-shrink-0 mr-4" alt="" aria-hidden="true">
    <span>Satisfait ou Remboursé</span>
  </span>
  <span class="flex items-center mr-4">
    <img src="assets/img/icon-fabrique-en-france.svg" class="flex-shrink-0 mr-4" alt="" aria-hidden="true">
    <span>Fabriqué en France</span>
  </span>
  <span class="flex items-center mr-4">
    <img src="assets/img/icon-livraison-gratuite.svg" class="flex-shrink-0 mr-4" alt="" aria-hidden="true">
    <span>Livraison Gratuite</span>
  </span>
  <span class="flex items-center">
    <img src="assets/img/icon-paiement-securise.svg" class="flex-shrink-0 mr-4" alt="" aria-hidden="true">
    <span>Paiement Sécurisé</span>
  </span>
</div>
