<div class="h-full flex flex-col justify-center">
  <form
    action="v8-step-2.html" id="step-1">
    {# states - .is-valid or .is-invalid on .form-control #}
    <div class="form-group">
      <label for="marque">Votre marque</label>
      <input
      type="text" placeholder="Marque recherchée" id="marque" name="marque" value="" class="form-control" autofocus required>
      {# states - .is-active #}
      <span class="form-error">Error message</span>
      <div class="arrow-input-focus"></div>
      {# states: .is-active #}
    </div>
    <div class="form-group">
      <label for="model">Votre modèle</label>
      <input type="text" placeholder="Numéro de modèle recherché" id="model" name="model" value="" class="form-control">
      <span class="form-error">Error message</span>
    </div>
    <div class="form-group">
      <label for="email">Votre adresse email</label>
      <input type="email" placeholder="Votre adresse email" id="email" name="email" value="" class="form-control">
      <span class="form-error">Error message</span>
    </div>
    {% if agreeOnStep1 == true %}
      <div class="form-group">
        <div class="form-checkbox">
          <input type="checkbox" name="agree" id="agree">
          <label for="agree" class="text-sm">
            Je confirme avoir lu et accepté la
            <a href="#" class="text-body underline">
              <strong>Charte de Confidentialité</strong>
            </a>, les
            <a href="#" class="text-body underline">
              <strong>C.G.V.</strong>
            </a>, et sélectionné l’offre d’abonnement présentée à droite.
          </div>
        </div>
        <div class="form-group">
          <div class="form-checkbox">
            <input type="checkbox" name="agree2" id="agree2">
            <label for="agree2" class="text-sm">J'accepte de recevoir des emails d'informations concernant les services.</label>
          </div>
        </div>
      {% endif %}
      <div class="form-group text-center my-6">
        <button type="submit" class="btn btn--xl btn--primary">Suivant</button>
      </div>
    </form>
  </div>
