<div class="h-full d-flex flex-column justify-content-center">
  <div class="d-flex flex-column flex-md-row align-items-center mb-6 -mx-8">
    <div class="d-flex align-items-center flex-grow mb-2 mb-md-0">
      {{ icon('lock', 'w-8 h-8 mr-2 text-danger d-none d-sm-block') }}
      <h3 class="h4 mb-0 font-bold text-nowrap mr-md-4">Paiement 100% sécurisé</h3>
    </div>
    <span>
      {{ picture('assets/img/cards-payment.png', 'img-fluid', '')}}
    </span>
  </div>
  {% include "./payment-form.twig" %}
</div>
