<div class="h-full flex flex-col justify-center">
  <div class="flex flex-col md:flex-row items-center mb-6 -mx-8">
    <div class="flex items-center flex-grow mb-2 md:mb-0">
      {{ icon('lock', 'w-8 h-8 mr-2 text-red-500') }}
      <h3 class="texl-xl sm:text-2xl font-bold whitespace-no-wrap mr-4">Paiement 100% sécurisé</h3>
    </div>
    {{ picture('assets/img/cards-payment.png', '', '')}}
  </div>
  <form action="step-3.html">
    <div class="form-group">
      <div class="sm:flex items-center">
        <span class="mb-0 sm:w-5/12 sm:text-right mr-4 flex-shrink-0">Montant à régler ce jour :</span>
        <span class="text-red-500 font-semibold text-xl">1,99 €</span>
      </div>
    </div>
    <div class="form-group">
      <div class="sm:flex items-center">
        <label class="mb-0 sm:w-5/12 sm:text-right sm:mr-4 flex-shrink-0" for="card_name">Titulaire de la carte :</label>
        <div class="flex items-center flex-grow relative">
          <input type="text" class="form-control {% if primaryColor == 'bluekiosk' %}form-control--bluekiosk{% endif %}" name="card_name" id="card_name" value="" required>
          <span class="form-error">Error message</span>
          <span class="form-required-indicator">*</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="sm:flex items-center">
        <label class="mb-0 sm:w-5/12 sm:text-right sm:mr-4 flex-shrink-0" for="card_num">Numéro de la carte :</label>
        <div class="flex items-center relative">
          <input type="text" name="card_num" id="card_num" class="form-control mr-2 {% if primaryColor == 'bluekiosk' %}form-control--bluekiosk{% endif %}" maxlength="4" value="" required>
          <input type="text" name="card_num2" id="card_num2" class="form-control mr-2 {% if primaryColor == 'bluekiosk' %}form-control--bluekiosk{% endif %}" maxlength="4" value="" required>
          <input type="text" name="card_num3" id="card_num3" class="form-control mr-2 {% if primaryColor == 'bluekiosk' %}form-control--bluekiosk{% endif %}" maxlength="4" value="" required>
          <input type="text" name="card_num4" id="card_num4" class="form-control {% if primaryColor == 'bluekiosk' %}form-control--bluekiosk{% endif %}" maxlength="4" value="" required>
          <span class="form-error">Error message</span>
          <span class="form-required-indicator">*</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="sm:flex items-center">
        <label class="mb-0 sm:w-5/12 sm:text-right sm:mr-4 flex-shrink-0" for="card_date">Date d’expiration :</label>
        <div class="flex items-center relative">
          <input type="text" id="card_date" name="card_date" class="form-control {% if primaryColor == 'bluekiosk' %}form-control--bluekiosk{% endif %}" placeholder="MM/YYYY" value="" required>
          <span class="form-error">Error message</span>
          <span class="form-required-indicator">*</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="sm:flex items-center">
        <label class="mb-0 sm:w-5/12 sm:text-right sm:mr-4 flex-shrink-0" for="card_cvv">Cvv :</label>
        <div class="flex items-center relative">
          <input type="tel" id="card_cvv" maxlength="3" name="card_cvv" class="form-control {% if primaryColor == 'bluekiosk' %}form-control--bluekiosk{% endif %} w-20" placeholder="123" value="" required>
          <span class="form-error">Error message</span>
          <span class="form-required-indicator">*</span>
        </div>
      </div>
    </div>

    {% if agreeOnStep2 == true %}

      <div class="flex-shrink-0 p-4 md:px-20 lg:py-6 bg-red-500 mb-6 text-white mt-10 sm:-mx-8">
        <div class="form-group">
          <div class="form-checkbox">
            <input type="checkbox" name="agree" id="agree">
            <label for="agree" class="text-sm leading-tight">Je confirme avoir lu et accepté la charte de confidentialité, les
              <a href="#" class="underline hover:no-underline">
                <strong>C.G.U.</strong>
              </a>
              et les
              <a href="#" class="underline hover:no-underline">
                <strong>C.G.V.</strong>
              </a>, ainsi que l'offre présentée à droite.</label>
          </div>
        </div>
        <div class="form-group text-center mb-0">
          <button type="submit" class="btn btn--lg btn--success text-xl w-full">Valider et Payer</button>
        </div>
      </div>

    {% else %}

      <div class="form-group text-center mb-8 md:mb-12">
        <button type="submit" class="btn btn--lg btn--success text-xl w-full">Valider et Payer</button>
      </div>

    {% endif %}
  </form>
</div>
