<div class="{% if colorTheme == 'blue' %}text-gray-800 {% else %} text-gray-600{% endif %} mb-2 mt-4">
  <h3 class="font-bold text-sm text-gray-800">Présentation de l’Offre Express</h3>
  <p class="text-sm leading-tight text-justify">Pour accéder à nos services, vous bénéficiez d'une période d'essai de 3 jours qui vous est facturée 1,99 € ttc. À l'issue de cette période d'essai de 3 jours, et tous les deux mois, vous serez facturé 59 € ttc pour une durée indéterminée en cas de non dénonciation du contrat durant la période d’essai. Cette offre d’abonnement est sans engagement et résiliable à tout moment. Important : Si vous désirez accéder à la notice du constructeur sans l'accompagnement de nos services, vous pouvez le faire gratuitement en accédant au site internet du constructeur.</p>
</div>
