<form action="">
  <div class="form-group mb-2">
    <div class="d-sm-flex align-items-center">
      <span class="mb-0 col-sm-5 pl-0 text-sm-right x-shrink-0">Montant à régler ce jour*&nbsp;:</span>
      <h5 class="text-danger mb-0">1,99 €</h4>
    </div>
  </div>
  <div class="form-group mb-2">
    <div class="d-sm-flex align-items-center">
      <label class="mb-0 col-sm-5 pl-0 text-sm-right flex-shrink-0" for="card_name">Titulaire de la carte&nbsp;:</label>
      <div class="d-flex align-items-center flex-grow relative">
        <input type="text" class="form-control" name="card_name" id="card_name" value="" required>
        <span class="form-error">Error message</span>
        <span class="form-required-indicator">*</span>
      </div>
    </div>
  </div>
  <div class="form-group mb-2">
    <div class="d-sm-flex align-items-center">
      <label class="mb-0 col-sm-5 pl-0 text-sm-right flex-shrink-0" for="card_num">Numéro de la carte&nbsp;:</label>
      <div class="d-flex align-items-center relative">
        <input data-card type="text" name="card_num" id="card_num" class="form-control mr-2" maxlength="4" value="" required>
        <input data-card type="text" name="card_num2" id="card_num2" class="form-control mr-2" maxlength="4" value="" required>
        <input data-card type="text" name="card_num3" id="card_num3" class="form-control mr-2" maxlength="4" value="" required>
        <input data-card type="text" name="card_num4" id="card_num4" class="form-control" maxlength="4" value="" required>
        <span class="form-error">Error message</span>
        <span class="form-required-indicator">*</span>
      </div>
    </div>
  </div>
  <div class="form-group mb-2">
    <div class="d-sm-flex align-items-center">
      <label class="mb-0 col-sm-5 pl-0 text-sm-right flex-shrink-0" for="card_date">Date d’expiration&nbsp;:</label>
      <div class="d-flex align-items-center relative" style="flex: 0 0 30%">
        <input type="text" id="card_date" name="card_date" class="form-control" placeholder="MM/YYYY" value="" required>
        <span class="form-error">Error message</span>
        <span class="form-required-indicator">*</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="d-sm-flex align-items-center">
      <label class="mb-0 col-sm-5 pl-0 text-sm-right flex-shrink-0" for="card_cvv">CVV&nbsp;:</label>
      <div class="d-flex align-items-center relative" style="flex: 0 0 15%;">
        <input type="tel" id="card_cvv" maxlength="3" name="card_cvv" class="form-control" placeholder="123" value="" required>
        <span class="form-error">Error message</span>
        <span class="form-required-indicator">*</span>
      </div>
    </div>
  </div>
  <div class="form-group text-center mb-8 md:mb-12">
    <button type="submit" class="btn btn--xl w-full btn--success">Valider la Commande et Payer</button>
  </div>
</form>
