<h2 class="underline text-2xl mb-4 text-center">Nos Services et notre Offre Express</h2>
<div class="text-gray-600">
  <div class="d-flex mb-2">
    <span class="flex-shrink-0 mr-3">
      {{ icon('access', '') }}
    </span>
    <div>
      <h3 class="font-bold text-sm text-body mb-1">Accès immédiat</h3>
      <p class="text-sm mb-0">Profitez de plus de 50 000 Manuels d'utilisation, de guides pour la maison ou encore d’un dépannage pour vos appareils informatiques.</p>
    </div>
  </div>
  <div class="d-flex mb-2">
    <span class="flex-shrink-0 mr-3">
      {{ icon('manuals', '') }}
    </span>
    <div>
      <h3 class="font-bold text-sm text-body mb-1">Manuels d'utilisation</h3>
      <p class="text-sm mb-0">Manuels d'utilisation ordonnés, organisés et classifiés par marque et par type de produits.</p>
    </div>
  </div>
  <div class="d-flex mb-2">
    <span class="flex-shrink-0 mr-3">
      {{ icon('guides', '') }}
    </span>
    <div>
      <h3 class="font-bold text-sm text-body mb-1">Guides pour la maison</h3>
      <p class="text-sm mb-0">Des guides pratiques et concrets pour les propriétaires ou ceux qui souhaitent le devenir dans un futur proche.</p>
    </div>
  </div>
  <div class="d-flex mb-2">
    <span class="flex-shrink-0 mr-3">
      {{ icon('support', '') }}
    </span>
    <div>
      <h3 class="font-bold text-sm text-body mb-1">Dépannage à distance</h3>
      <p class="text-sm mb-0">Des spécialistes disponibles pour vous aider à diagnostiquer et dépanner à distance vos appareils informatiques.</p>
    </div>
  </div>

</div>
