<h2 class="underline text-2xl font-bold text-gray-800 mb-4 text-center">Nos Services et notre Offre Express</h2>
<div class="{% if colorTheme == 'blue' %} text-gray-800 {% else %} text-gray-600 {% endif %}">
  <div class="flex mb-2">
    <span class="flex-shrink-0 mr-4">
      {{ icon('access', 'w-6 h-6') }}
    </span>
    <div>
      <h3 class="font-bold text-sm text-gray-800">Accès immédiat</h3>
      <p class="text-sm leading-tight">Profitez de plus de 50 000 Manuels d'utilisation, de guides pour la maison ou encore d’un dépannage pour vos appareils informatiques.</p>
    </div>
  </div>
  <div class="flex mb-2">
    <span class="flex-shrink-0 mr-4">
      {{ icon('manuals', 'w-6 h-6') }}
    </span>
    <div>
      <h3 class="font-bold text-sm text-gray-800">Manuels d'utilisation</h3>
      <p class="text-sm leading-tight">Manuels d'utilisation ordonnés, organisés et classifiés par marque et par type de produits.</p>
    </div>
  </div>
  <div class="flex mb-4">
    <span class="flex-shrink-0 mr-4">
      {{ icon('guides', 'w-6 h-6') }}
    </span>
    <div>
      <h3 class="font-bold text-sm text-gray-800">Guides pour la maison</h3>
      <p class="text-sm leading-tight">Des guides pratiques et concrets pour les propriétaires ou ceux qui souhaitent le devenir dans un futur proche.</p>
    </div>
  </div>
  <div class="flex mb-2">
    <span class="flex-shrink-0 mr-4">
      {{ icon('support', 'w-6 h-6') }}
    </span>
    <div>
      <h3 class="font-bold text-sm text-gray-800">Dépannage à distance</h3>
      <p class="text-sm leading-tight">Des spécialistes disponibles pour vous aider à diagnostiquer et dépanner à distance vos appareils informatiques.</p>
    </div>
  </div>
  
</div>
