<ul class="text-gray-700 text-sm">
  <li class="flex mb-3 sm:items-center">
    <span class="mr-4 rounded-full bg-gray-300 flex items-center justify-center w-8 h-8 flex-shrink-0 select-none">
      1
    </span>
    <span>Renseignez les informations du mode d'emploi recherché.</span>
  </li>
  <li class="flex mb-3 sm:items-center">
    <span class="mr-4 rounded-full bg-gray-300 flex items-center justify-center w-8 h-8 flex-shrink-0 select-none">
      2
    </span>
    <span>Nous le recherchons dans notre base de données.</span>
  </li>
  <li class="flex mb-3 sm:items-center">
    <span class="mr-4 rounded-full bg-gray-300 flex items-center justify-center w-8 h-8 flex-shrink-0 select-none">
      3
    </span>
    <span>Payez et créez votre compte pour obtenir votre mode d'emploi.</span>
  </li>

  <li class="flex mb-3 sm:items-center">
    <span class="mr-4 rounded-full bg-gray-300 flex items-center justify-center w-8 h-8 flex-shrink-0 select-none">
      4
    </span>
    <span>
      Vous recevez votre mode d’emploi par email.<br />Et vous accédez aussi à
      nos services : manuels d’utilisation,<br /> guides pour la maison et dépannage
      à distance.
    </span>
  </li>

  {# var 2 #}
  {#     <li class="flex mb-3 sm:items-center">
    <span class="mr-4 rounded-full bg-gray-300 flex items-center justify-center w-8 h-8 flex-shrink-0 select-none">
      4
    </span>
    <span>
      Vous recevez votre mode d’emploi par email. Et vous accédez aussi à nos
      services : manuels d’utilisation, guides pour la maison et dépannage à
      distance.
    </span>
  </li> #}
  <li class="flex sm:items-center">
    <span class="mr-4 rounded-full bg-gray-300 flex items-center justify-center w-8 h-8 flex-shrink-0 select-none">
      5
    </span>
    <span>Notre équipe d'assistance reste à votre écoute.</span>
  </li>
</ul>
