<div class="d-flex justify-content-around text-gray-600">
  <div>
    <img src="{{trustIcon01}}" alt="">
  </div>
  <div>
    <img src="{{trustIcon02}}" alt="">
  </div>
  <div>
    <img src="{{trustIcon03}}" alt="">
  </div>
</div>
