<div class="position-relative bg-black" style="padding-top:56.25%;">
  <iframe width="560" height="315" class="position-absolute inset-0 border-0 p-0 m-0 w-full h-full" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" src="https://www.youtube.com/embed/ejPJjmS-1to"></iframe>
</div>
