<div class="p-4 mb-2 text-left h-full {% if colorTheme == 'blue' %}text-white {% if primaryColor == 'bluekiosk' %}bg-blue-500{% else %}bg-blue-600{% endif %} {% else %} bg-gray-200{% endif %}">
  <h2 class="text-xl font-bold mb-2 text-center">Rappel de l’offre sélectionnée</h2>
  <div class="sm:flex items-center">
    <div
      class="preview preview--sm {% if primaryColor == 'bluekiosk' %}preview--bluekiosk{% endif %} mb-4 mx-auto sm:mx-0 lg:mb-6" data-text="Mode d'emploi">
      {# if logo #}
      <span data-logo class="preview__logo"></span>
      <span class="preview__recherche">
        <span data-search="marque"></span>
        <span data-search="model"></span>
      </span>
      <div class="preview__in"></div>
    </div>
    <div class="sm:ml-6">
      <ul class="mb-2 leading-tight text-sm">
        <li>Marque :
          <span data-search="marque"></span>
        </li>
        <li>Modèle :
          <span data-search="model"></span>
        </li>
        <li>Votre Email :
          <span data-search="email"></span>
        </li>
      </ul>
    </div>
  </div>
  <p class="text-sm">
        <a href="index.html" class="underline hover:no-underline">Modifier</a>
      </p>
      <p class="text-sm">* Période d'essai : 1,99 € TTC pour 3 jours</p>
  <p class="text-sm my-2">
    Manuels d’utilisation<br>
    Guides pour la maison<br>
    Dépannage à distance
  </p>
  {% include './offer-description-v4.twig' %}
</div>
