<div class="p-4 mb-2 text-left h-full {% if colorTheme == 'blue' %}text-white {% if primaryColor == 'bluekiosk' %}bg-blue-500{% else %}bg-blue-600{% endif %} {% else %} bg-gray-200{% endif %}">
  <h2 class="text-xl font-bold mb-2 text-center">Rappel de l’offre sélectionnée</h2>
  <div class="sm:flex items-center">
    <div
      class="preview preview--sm {% if primaryColor == 'bluekiosk' %}preview--bluekiosk{% endif %} mb-4 mx-auto sm:mx-0 lg:mb-6" data-text="Mode d'emploi">
      {# if logo #}
      <span data-logo class="preview__logo"></span>
      <span class="preview__recherche">
        <span data-search="marque"></span>
        <span data-search="model"></span>
      </span>
      <div class="preview__in"></div>
    </div>
    <div class="sm:ml-6 min-w-0">
      <ul class="mb-2 leading-tight text-sm text-center">
        <li class="mb-2">Marque :
          <span data-search="marque" class="block truncate" title="Apple">Apple</span>
        </li>
        <li class="mb-2">Modèle :
          <span data-search="model" class="block truncate" title="iPhone 8 plus">iPhone 8 plus</span>
        </li>
        <li>Votre Email :
          <span data-search="email" class="block truncate" title="marie.duchamps264@gmail.com">marie.duchamps264@gmail.com</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex mb-4">
    <span class="flex-shrink-0 mr-4 -mt-1">
      {{ icon('manuals', 'w-6 h-6 text-gray-600') }}
    </span>
    <div>
      <h3 class="text-sm text-gray-800">Manuels d’utilisation</p>
    </div>
  </div>
  <div class="flex mb-4">
    <span class="flex-shrink-0 mr-4 -mt-1">
      {{ icon('guides', 'w-6 h-6 text-gray-600') }}
    </span>
    <div>
      <h3 class="text-sm text-gray-800">Guides pour la maison</p>
    </div>
  </div>
  <div class="flex mb-4">
    <span class="flex-shrink-0 mr-4 -mt-1">
      {{ icon('support', 'w-6 h-6 text-gray-600') }}
    </span>
    <div>
      <h3 class="text-sm text-gray-800">Dépannage à distance</p>
    </div>
  </div>
  <p class="text-sm">
        <a href="index.html" class="underline hover:no-underline">Modifier</a>
      </p>
      <p class="text-sm">* Période d'essai : 1,99 € TTC pour 3 jours</p>
  {% include './offer-description-v4.twig' %}
</div>
