<div class="py-6 px-10 mb-4 text-center sm:text-left lg:text-center {% if colorTheme == 'blue' %}text-white {% if primaryColor == 'bluekiosk' %}bg-blue-500{% else %}bg-blue-600{% endif %} {% else %} bg-gray-200{% endif %}">
  <h2 class="text-xl font-bold mb-6">Récapitulatif de commande</h2>
  <div class="sm:flex lg:block">
    <div class="preview preview--sm {% if primaryColor == 'bluekiosk' %}preview--bluekiosk{% endif %} mb-6 sm:mb-0 mx-auto sm:mx-0 lg:mx-auto lg:mb-6" data-text="Mode d'emploi">
      {# if logo #}
      {# <img src="assets/img/brands/logo-toyota.svg" class="preview__logo" alt=""/> #}
        <span class="preview__recherche"> Samsung Galaxy S20 Ultra</span>
      <div class="preview__in"></div>
    </div>
    <div class="sm:ml-6 lg:ml-0">
      <ul class="mb-4">
        <li class="text-lg">Marque : Samsung</li>
        <li class="text-lg">Modèle : Galaxy S20 Ultra</li>
        <li class="text-lg">Votre Email : SexyMexicano@Robin.com</li>
      </ul>
      <p class="text-sm">* Période d'essai : 1,99 €  pour 3 jours</p>
      <p class="text-sm"><a href="index.html" class="underline hover:no-underline">Modifier</a></p>
    </div>
  </div>
</div>
