<div class="p-4 mb-2 text-left h-full bg-gray-100 text-sm">
  <div class="d-flex justify-content-between mb-3">
    <h2 class="h6 text-primary">Récapitulatif de la commande</h2>
    <p class="text-xs">
      <a href="index.html" class="underline text-body">Modifier</a>
    </p>
  </div>
  <ul class="mb-2 text-sm list-unstyled">
    <li class="mb-1">
      <strong>Marque :</strong>
      <span data-search="marque" title="Apple">Apple</span>
    </li>
    <li class="mb-1">
      <strong>Modèle :</strong>
      <span data-search="model" title="iPhone 8 plus">iPhone 8 plus</span>
    </li>
    <li>
      <strong>Votre Email :</strong>
      <span data-search="email" title="marie.duchamps264@gmail.com">marie.duchamps264@gmail.com</span>
    </li>
  </ul>
  <hr>
  <div class="d-flex mb-1">
    <span class="flex-shrink-0 mr-3">
      {{ icon('manuals', 'w-6 h-6 text-gray-500') }}
    </span>
    <div>
      <p class="text-sm text-body">Manuels d’utilisation</p>
    </div>
  </div>
  <div class="d-flex mb-1">
    <span class="flex-shrink-0 mr-3">
      {{ icon('guides', 'w-6 h-6 text-gray-500') }}
    </span>
    <div>
      <p class="text-sm text-body">Guides pour la maison</p>
    </div>
  </div>
  <div class="d-flex mb-1">
    <span class="flex-shrink-0 mr-3">
      {{ icon('support', 'w-6 h-6 text-gray-500') }}
    </span>
    <div>
      <p class="text-sm text-body">Dépannage à distance</p>
    </div>
  </div>

  <p>* Période d'essai : 1,99 € ttc pour 3 jours</p>
  <hr>
  <div class="text-gray-600 mt-4">
    <h3 class="font-bold text-sm text-body mb-1">Présentation de l’Offre Express</h3>
    <p class="text-xs leading-tight text-justify mb-0">Pour accéder à nos services, vous bénéficiez d'une période d'essai de 3 jours qui vous est facturée 1,99 € ttc. À l'issue de cette période d'essai de 3 jours, et tous les deux mois, vous serez facturé 59 € ttc pour une durée indéterminée en cas de non dénonciation du contrat durant la période d’essai. Cette offre d’abonnement est sans engagement et résiliable à tout moment. Important : Si vous désirez accéder à la notice du constructeur sans l'accompagnement de nos services, vous pouvez le faire gratuitement en accédant au site internet du constructeur.</p>
  </div>
</div>
