<div class="p-4 mb-2 text-left h-full bg-gray-200">
  <h2 class="h5 mb-3 text-center">Rappel de l’offre sélectionnée</h2>
  <div class="d-sm-flex align-items-center">
    <div
      class="preview preview--sm mb-4 mx-auto mx-sm-0 mb-lg-4" data-text="Mode d'emploi">
      {# if logo #}
      <span data-logo class="preview__logo"></span>
      <span class="preview__recherche">
        <span data-search="marque"></span>
        <span data-search="model"></span>
      </span>
      <div class="preview__in"></div>
    </div>
    <div class="ml-sm-3" style="min-width:0;">
      <ul class="mb-4 text-center list-unstyled">
        <li class="mb-4">Marque :
          <span data-search="marque" class="d-block text-truncate" title="Apple">Apple</span>
        </li>
        <li>Modèle :
          <span data-search="model" class="d-block text-truncate" title="iPhone 8 plus">iPhone 8 plus</span>
        </li>
      </ul>
    </div>
  </div>
  <p class="text-sm">Email :
    <span data-search="email" class="text-truncate" title="marie.duchamps264@gmail.com">marie.duchamps264@gmail.com</span>
  </p>
  <div class="d-flex mb-1">
    <span class="flex-shrink-0 mr-4">
      {{ icon('manuals', 'w-6 h-6 text-gray-600') }}
    </span>
    <div>
      <p class="text-sm text-body">Manuels d’utilisation</p>
    </div>
  </div>
  <div class="d-flex mb-1">
    <span class="flex-shrink-0 mr-4">
      {{ icon('guides', 'w-6 h-6 text-gray-600') }}
    </span>
    <div>
      <p class="text-sm text-body">Guides pour la maison</p>
    </div>
  </div>
  <div class="d-flex mb-1">
    <span class="flex-shrink-0 mr-4">
      {{ icon('support', 'w-6 h-6 text-gray-600') }}
    </span>
    <div>
      <p class="text-sm text-body">Dépannage à distance</p>
    </div>
  </div>
  <p class="text-sm mt-3">
    <a href="index.html" class="underline text-body">Modifier</a>
  </p>
  <p class="text-sm">* Période d'essai : 1,99 € ttc pour 3 jours</p>
  {% include './offer-description-v4.twig' %}
</div>
