{% extends "includes/layouts/layout-v5-white.twig" %}
{% set step = 1 %}

{% block content %}
  <div class="container">
    <div class="flex flex-col items-start lg:flex-row my-4 mb-12 sm:my-10">
      <div class="w-full lg:w-1/2 mb-6 lg:mb-0">
        <div class="card card--bluekiosk bg-gray-100">
          <div class="card__header">
            <h1>Rechercher Votre Mode d'Emploi ici</h1>
          </div>
          <div class="card__body">
            {% include "./includes/blocks/form-step1-v2.twig" %}
          </div>
        </div>
        {% include "./includes/blocks/video.twig" %}
      </div>
      <div class="w-full lg:w-1/2 lg:ml-12">
        <div class="border p-6">
          {% include "./includes/blocks/services-v2.twig" %}
          {% include "./includes/blocks/offer-description.twig" %}
          {% include "./includes/blocks/trust-features.twig" %}
        </div>
        <div class="mt-6">
          {% include "includes/components/footer-logos-v2.twig" %}
        </div>
      </div>
    </div>
  </div>


  {% include "includes/components/footer.twig" %}
{% endblock %}
