<div class="mb-6">
  <div class="container">
    <div class="pb-6 sm:px-6 sm:py-4  text-xs sm:text-sm sm:text-center {% if colorTheme == 'blue' %}sm:border-2 sm:border-gray-800{% endif %}">
      <p>Si vous souhaitez rechercher vous-mêmes vos manuels d'utilisation sans utiliser nos services, nous vous recommandons de<br>
        commencer par les sites officiels des constructeurs concernés. + PHRASE AVOCAT À AJOUTER !!!!!!!!!!!</p>
    </div>
  </div>
</div>
