<div class="mb-6">
  <div class="container">
    <div class="pb-6 sm:px-6 sm:py-4  text-xs sm:text-sm {% if colorTheme == 'blue' %}sm:border-2 sm:border-gray-800{% endif %}">
      <p>Si vous souhaitez rechercher vous-mêmes vos manuels d'utilisation sans utiliser nos services, nous vous recommandons de commencer par les sites officiels des constructeurs concernés. Toutes les marques citées sur notre site ne le sont qu'à titre signalétique et restent la propriété exclusive de leurs titulaires respectifs. Nous ne sommes ni associés, ni affiliés à aucune de ces marques. Les services proposés sur notre site sont, par conséquent, totalement indépendants des marques citées et des entreprises qui leur sont associées.</p>
    </div>
  </div>
</div>
