<header class="header">
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="mx-auto mx-sm-0 {% if logo == false %}d-none{% endif %}">
        <a href="index.html" class="d-flex align-items-center font-weight-bold text-2xl text-gray-600" aria-label="Notices">
          <img src="{{ logoImage }}" class="flex-shrink-0 mr-2" alt="">
          <span class="">Notices</span>
        </a>
      </div>
      {% if step %}
        {% include "../blocks/steps.twig" %}

      {% endif %}
      {% if headerPhone == true %}
        <div class="d-none d-lg-block ml-auto">
          <a href="tel:0805086524">
            <img src=" assets/img/phone2.png" alt=" ">
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</header>
