<div role="dialog"
  class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex flex-col items-center justify-end sm:justify-center z-50 py-4 outline-none"
  id="modal-cgu"
  aria-modal="true"
  data-modal>
  <div class="modal__backdrop fixed inset-0 opacity-0 transform transition-opacity duration-150 ease-linear bg-modalBackdrop z-10"
    data-modal-close></div>
  <div class="modal__dialog translate-y-full sm:translate-y-0 duration-300 transform transition-transform ease-in-out bg-white w-full mx-auto rounded-t-modal sm:rounded shadow-lg z-10 overflow-y-auto sm:max-w-xl"
    role="dialog">
    <div class="flex flex-col p-6 text-left sm:px-8 z-20 max-h-modal">
      <div class="flex justify-between items-center pb-4 sm:pb-5">
        <h3 class="text-xl font-headings font-semibold">
          CONDITIONS GÉNÉRALES D’UTILISATION
        </h3>
        <div class="modal__close cursor-pointer z-50 -mt-2 -mr-4 p-2 sm:p-4 text-gray-600 hover:text-gray-800"
          title="Fermer (⎋ Esc)"
          data-modal-close>
          <svg class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewbox="0 0 18 18">
            <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
          </svg>
        </div>
      </div>

      <div class="flex-grow text-sm">
        <p class="mb-4">
          <strong><span>manuel.kiosknotice.com</span></strong>
        </p>
        <p class="mb-4">
          <strong><span>CONDITIONS GÉNÉRALES D’UTILISATION</span></strong>
        </p>
        <p class="mb-4">
          <span>
            Les présentes Conditions Générales d’Utilisation s’appliquent
            entre&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>
            La société Tuts, au capital social de 2 BGN, dont le siège social
            est sis City of Sofia 1142, Region of Sofia, Sofia Municipality,
            district Sredets, 16 Patriarh Evtimiy Blvd., entrance A, floor 1,
            apartment 5, Sofia et BG, immatriculée au Registre du Commerce et
            des Sociétés de Sofia, BG, sous le numéro 203580304, numéro de TVA
            intracommunautaire&nbsp;: BG203580304
          </span>
        </p>
        <p class="mb-4">
          <span>
            Éditrice du site Internet de commerce électronique
            manuel.kiosknotice.com (disponible à l’url manuel.kiosknotice.com),
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <span>Ci-après, désignée «&nbsp;La Société&nbsp;»</span>
          </strong>
        </p>
        <p class="mb-4">
          <strong><span>D’une part,</span></strong>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>Et&nbsp;:</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Toute personne physique majeure souhaitant accéder au site
            manuel.kiosknotice.com, qu’elle en soit simple visiteur ou
            bénéficiaire des services payants qu’il propose,
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <span>Ci-après désigné «&nbsp;l’Utilisateur&nbsp;»,</span>
          </strong>
        </p>
        <p class="mb-4">
          <strong><span>D’autre part.</span></strong>
        </p>
        <p class="mb-4">
          <span>
            Pour l’application des présentes Conditions Générales d’Utilisation,
            il est convenu que la Société et l’Utilisateur seront collectivement
            dénommés les «&nbsp;Parties&nbsp;» et individuellement dénommés
            «&nbsp;Partie&nbsp;».
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’Utilisateur déclare avoir la majorité légale et avoir la pleine
            capacité juridique ou bénéficier de l’autorisation d’une personne
            titulaire de l’autorité parentale, d’un tuteur ou bien d’un curateur
            pour accéder au manuel.kiosknotice.com.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Les présentes Conditions Générales d’Utilisation <strong>
              (ci-après désignées les «&nbsp;C.G.U.&nbsp;»)
            </strong> s’articulent ainsi qu’il suit&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;1 — Définitions</span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;2 — Objet</span>
        </p>
        <p class="mb-4">
          <span>
            Article&nbsp;3 — Description générale du Site et des Services
          </span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;4 — Accès au Site et aux Services</span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;5 — Responsabilité des Utilisateurs</span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;6 — Responsabilité du Site</span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;7 — Suspension – Résiliation</span>
        </p>
        <p class="mb-4">
          <span>
            Article&nbsp;8 — Protection de la vie privée et des données
            personnelles — Cookies
          </span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;9 — Propriété intellectuelle</span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;10 — Liens depuis/vers le Site</span>
        </p>
        <p class="mb-4">
          <span>
            Article11 — Acceptation des Conditions Générales d’Utilisation
          </span>
        </p>
        <p class="mb-4">
          <span>
            Article&nbsp;12 — Modification et consultation des Conditions
            Générales d’Utilisation
          </span>
        </p>
        <p class="mb-4">
          <span>
            Article&nbsp;13 — Conditions Générales de Vente applicables aux
            Utilisateurs Clients
          </span>
        </p>
        <p class="mb-4">
          <span>
            Article&nbsp;14 — Existence de Conditions Particulières
            d’Utilisation et/ou de Vente
          </span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;15 — Force majeure</span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;16 — Non-renonciation</span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;17 — Preuve, conservation et archivage</span>
        </p>
        <p class="mb-4">
          <span>Article&nbsp;18 — Service Clientèle - Informations</span>
        </p>
        <p class="mb-4">
          <span>
            Article&nbsp;19 — Droit applicable — Résolution des litiges
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;1 — DÉFINITIONS</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Dans les présentes C.G.U., les mots ou expressions commençant avec
            une majuscule auront la signification suivante&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>
            «&nbsp;<strong>Site</strong>&nbsp;»&nbsp;: Le site Internet de
            commerce électronique édité par la Société et disponible à l’adresse
            URL suivante&nbsp;: manuel.kiosknotice.com<em>&thinsp;</em>;
          </span>
        </p>
        <p class="mb-4">
          <span>
            «&nbsp;<strong>Utilisateur&nbsp;</strong>»&nbsp;: Toute personne
            physique majeure qui agit à des fins personnelles (donc en dehors du
            cadre de toute activité professionnelle) et qui accède au Site,
            qu’il soit Client ou simple visiteur&thinsp;;
          </span>
        </p>
        <p class="mb-4">
          <strong><span>«&nbsp;Services&nbsp;»&nbsp;:</span></strong><span>Ensemble
            des services proposés sur le Site et accessibles aux Utilisateurs.
            Ces services sont exclusivement souscrits dans le cadre d’un
            Abonnement. Il s’agit des services présentés à l’article&nbsp;3 des
            présentes C.G.U., ainsi qu’au travers des pages dédiées du Site.</span>
        </p>
        <p class="mb-4">
          <strong>
            <span>
              «&nbsp;Client&nbsp;» ou «&nbsp;Utilisateur Client&nbsp;»&nbsp;
            </span>
          </strong><span>
            : Tout Utilisateur du Site qui a souscrit aux Services proposés par
            la Société <em>via</em> la commande d’un Abonnement.
          </span>
        </p>
        <p class="mb-4">
          <strong><span>«&nbsp;Compte Client&nbsp;»</span></strong><span><strong>
              ou «&nbsp;Compte&nbsp;»
            </strong>&nbsp;: Tout compte ouvert par l’Utilisateur sur le Site
            pour souscrire et accéder aux Services proposés par la Société <em>
              via
            </em> un Abonnement.</span>
        </p>
        <p class="mb-4">
          <strong><span>«&nbsp;Partenaire&nbsp;»</span></strong><span>&nbsp;:
            Tout prestataire hautement qualifié qui assure, pour le Site,
            certains des services proposés dans le cadre des Services
            accessibles par Abonnement, notamment en matière d’assistance
            technique téléphonique pour l’informatique.</span>
        </p>
        <p class="mb-4">
          <strong><span>«&nbsp;Abonnement&nbsp;»&nbsp;</span></strong><span>: Il
            s’agit d’un forfait, payant, qui permet l’accès aux Services
            auxquels souhaite souscrire et accéder l’Utilisateur. L’Abonnement
            est un contrat à durée indéterminée, sans engagement et résiliable à
            tout moment. Cet Abonnement à durée indéterminée se renouvelle
            bimestriellement à l’issue d’une période d’essai, par tacite
            reconduction, sous réserve du paiement du prix de l’Abonnement.</span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;2 — OBJET</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Les présentes C.G.U. ont pour objet de définir les conditions dans
            lesquelles les Utilisateurs sont autorisés à accéder au Site et ses
            Services, ainsi que les modalités d’utilisation de ses
            fonctionnalités.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Les présentes C.G.U. s’appliquent à tout Utilisateur, qu’il soit
            simple visiteur ou, <em>a fortiori</em>, bénéficiaire des Services
            payants du Site <em>via</em>la souscription d’un Abonnement.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>À noter&nbsp;:&nbsp;</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Si à un moment quelconque de sa navigation sur le Site,
            l’Utilisateur souhaite bénéficier des Services payants proposés, il
            sera alors invité à créer un Compte Client et à accepter les
            Conditions Générales de Ventes de la Société disponibles dans la
            rubrique «&nbsp;C.G.V.&nbsp;» du Site <strong>
              (ci-après désignées les «&nbsp;C.G.V.&nbsp;»)
            </strong>, ceci préalablement à la souscription de tout Abonnement
            payant permettant d’accéder aux Services.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’acceptation préalable et cumulative des présentes C.G.U. et des
            C.G.V. est donc nécessaire pour pouvoir accéder et bénéficier des
            Services proposés sur le Site.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>
                ARTICLE&nbsp;3 — DESCRIPTION GÉNÉRALE DU SITE ET DES SERVICES
              </span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <strong><span>3.1. Description générale du Site</span></strong>
        </p>
        <p class="mb-4">
          <span>Au travers du Site, les Utilisateurs peuvent&nbsp;:</span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Prendre connaissance des caractéristiques des Services
            proposés (tels que présentés à l’article&nbsp;3.2. ci-après, ainsi
            que sur les pages du Site qui leur sont dédiées), de leur prix et de
            leurs conditions de mise à disposition,<br />—&nbsp;S’inscrire sur
            le Site et souscrire aux Services proposés par la Société dans le
            cadre d’un Abonnement payant,<br />—&nbsp;Procéder au règlement de
            leur Abonnement au moyen de services de paiement sécurisé,<br />—&nbsp;Être
            informés de leurs droits découlant de la réglementation applicable,
            au travers des présentes C.G.U., mais également des C.G.V. de la
            Société (disponibles dans la rubrique «&nbsp;C.G.V.&nbsp;» du Site)
            dont l’acceptation est requise préalablement à la validation de leur
            éventuelle souscription à un Abonnement aux Services proposés.
          </span>
        </p>
        <p class="mb-4">
          <strong><span>3.2. Description générale des Services</span></strong>
        </p>
        <p class="mb-4">
          <span>
            Dans le cadre de la souscription à un Abonnement, le Site offre à
            ses Utilisateurs la possibilité d’accéder à l’ensemble des Services
            énumérés suivants&nbsp;:
          </span>
        </p>
        <ul>
          <li>
            <strong>
              <span>
                Assistance technique téléphonique pour l’informatique:
              </span>
            </strong>
          </li>
        </ul>
        <p class="mb-4">
          <span>
            Le Site propose à ses Utilisateurs Clients, au travers de son
            service d’assistance technique téléphonique pour l’informatique
            (désigné «&nbsp;Dépannage à distance&nbsp;»), de pouvoir bénéficier
            d’une aide professionnelle et efficace dans le cadre de l’audit et
            la réparation de leur équipement informatique.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’assistance proposée dans le cadre de ce service est principalement
            logicielle et se limite aux équipements suivants&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>—&nbsp;Les postes informatiques (Windows &amp; Mac),</span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Les périphériques qui y sont connectés (imprimantes,
            scanneur, disque dur),
          </span>
        </p>
        <p class="mb-4">
          <span>—&nbsp;Les smartphones &amp; tablettes (paramétrage),</span>
        </p>
        <p class="mb-4">
          <span>—&nbsp;Les systèmes et objets connectés.</span>
        </p>
        <p class="mb-4">
          <span>
            L’assistance matérielle est, quant à elle, limitée à la précédente
            liste d’équipements et concerne uniquement des conseils par
            téléphone (ceci, étant donné que le Partenaire ne se rend pas
            physiquement au domicile de l’Utilisateur Client).
          </span>
        </p>
        <p class="mb-4">
          <span>
            Cette assistance technique peut être préventive afin&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>—&nbsp;D’assurer une politique de sauvegarde efficace,</span>
        </p>
        <p class="mb-4">
          <span>—&nbsp;De se prémunir contre les attaques extérieures,</span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;De permettre de disposer d’outils logiciels à jour.
          </span>
        </p>
        <p class="mb-4">
          <span>Et curative afin&nbsp;:</span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;De palier à d’éventuels incidents sur l’outil informatique,
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;De répondre rapidement à des préoccupations techniques,
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;D’intervenir sans délai en cas de besoin (à distance).
          </span>
        </p>
        <p class="mb-4">
          <span>
            Ce service est assuré par un Partenaire du Site, hautement qualifié
            en la matière. Il est exclusivement délivré par téléphone et par
            prise en mains à distance.
          </span>
        </p>
        <ul>
          <li>
            <strong>
              <span>
                Base de données structurée et ordonnée de modes d’emploi:
              </span>
            </strong>
          </li>
        </ul>
        <p class="mb-4">
          <span>
            <br />Le Site propose à ses Utilisateurs Clients, au travers de sa
            base de données structurée et ordonnée de modes d’emploi,
            consultables en ligne ou téléchargeables, un service de recherche
            portant sur plus de 50&thinsp;000 manuels d’utilisation destinés à
            répondre à toutes les problématiques posées par les appareils du
            quotidien&thinsp;; qu’il s’agisse d’électroménager, d’informatique,
            de téléphonie mobile ou encore d’automobile…
          </span>
        </p>
        <p class="mb-4">
          <span>
            La communauté d’entraide du Site alimente régulièrement cette base
            avec de nouveaux modes d’emploi avec l’objectif désigné de devenir
            la référence francophone de ce domaine spécifique.
          </span>
        </p>
        <ul>
          <li>
            <strong>
              <span>
                Guides pratiques et utiles pour la maison et les appareils
                électrodomestiques&nbsp;:
              </span>
            </strong>
          </li>
        </ul>
        <p class="mb-4">
          <span>
            Le Site propose à ses Utilisateurs Clients, au travers de sa section
            de guides pratiques et utiles, consultables en ligne, des documents
            exclusifs permettant à tout Utilisateur Client, quel que soit son
            niveau d’excellente technique, d’améliorer son habitat et
            l’utilisation de ses matériels électriques et électroniques.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Liste des thématiques concernées&nbsp;:<br />—&nbsp;Bricolage,<br />—&nbsp;Énergie
            et Économies,<br />—&nbsp;Entretien et Soin de la Maison,<br />—&nbsp;Gros
            Électroménager,<br />—&nbsp;Jardin et Permaculture,<br />—&nbsp;Petit
            Électroménager.
          </span>
        </p>
        <ul>
          <li>
            <strong>
              <span>
                Service client disponible 7 jours sur 7, 365 jours par an, de
                10&nbsp;h à 17&nbsp;h&nbsp;:
              </span>
            </strong>
          </li>
        </ul>
        <p class="mb-4">
          <span>
            Le Site propose à ses Utilisateurs Clients, au travers de sa section
            de Service clients, accessible directement sur la page «&nbsp;Nous
            Contacter&nbsp;», disponible 7 jours sur 7, 365 jours par an, de
            10&nbsp;h à 17&nbsp;h, de recevoir soutien, aide et support de la
            part des équipes de conseillers du Site, pour résoudre toutes les
            problématiques techniques rencontrées entrant dans le cadre précis
            des services décrits au point&nbsp;3.2. des présentes C.G.U.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;4 — ACCÈS AU SITE ET AUX SERVICES</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <strong><span>4.1. Navigation sur le Site</span></strong>
        </p>
        <p class="mb-4">
          <span>
            Le Site et les Services proposés par la Société sont accessibles à
            tout Utilisateur, Client ou non, dans le monde entier, sans aucune
            exception géographique volontaire. Ainsi, quel que soit son pays
            d’origine, tout Utilisateur peut naviguer librement sur le Site.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Si, au cours de sa navigation sur le Site et après avoir pris
            connaissance des caractéristiques des Services disponibles,
            l’Utilisateur souhaite souscrire un Abonnement aux Services
            proposés, il devra alors procéder à l’ouverture d’un Compte Client
            selon processus détaillé ci-après.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <span>
              4.2. Création d’un Compte Client pour passer commande d’un
              Abonnement aux Services
            </span>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Pour ce faire, l’Utilisateur doit s’assurer qu’il dispose&nbsp;:
          </span>
        </p>
        <ul>
          <li><span>D’une connexion Internet,</span></li>
          <li>
            <span>
              D’un abonnement téléphonique qui permet l’accès à Internet,
            </span>
          </li>
          <li>
            <span>
              D’un ordinateur et/ou d’un appareil mobile équipé d’une connexion
              adéquate (de type wi-fi ou 3G/4G, par exemple),
            </span>
          </li>
        </ul>
        <p class="mb-4">
          <span>
            étant précisé que les éventuels frais de communication permettant
            l’accès au Site et ses Services demeureront à la charge exclusive de
            l’Utilisateur.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Ceci préalablement vérifié, l’Utilisateur doit alors suivre la
            procédure d’inscription qui suit&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>1<sup>ère</sup> étape&nbsp;:</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            L’Utilisateur remplit un Formulaire d’inscription mis à sa
            disposition sur la page dédiée du Site en remplissant les champs
            d’informations suivants&nbsp;:
          </span>
        </p>
        <ul>
          <li><span>Prénom et nom (facultatif),</span></li>
          <li>
            <span>
              Adresse de messagerie électronique valide qui constituera son
              identifiant (nom d’Utilisateur Client) lui permettant d’accéder à
              son Compte et de souscrire aux Services désirés.
            </span>
          </li>
        </ul>
        <p class="mb-4">
          <strong>
            <u>
              <span>À noter&nbsp;:&nbsp;</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            En fonction des Services proposés, certaines fonctionnalités
            avancées du Site nécessitant un plus haut degré d’identification,
            pourront requérir de l’Utilisateur la communication de données
            personnelles complémentaires.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>2<sup>ème</sup> étape&nbsp;:</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            L’Utilisateur doit valider le fait qu’il ait bien lu les présentes
            C.G.U. et qu’il les accepte en remplissant le Formulaire
            d’inscription. A cette occasion, il confirme également qu’il est
            majeur au sens de la réglementation applicable dans de son pays
            d’origine. Ceci validé, l’Utilisateur peut alors passer à l’étape
            suivante (la dernière) par un clic effectué sur le bouton prévu à
            cet effet.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>3<sup>ème</sup> et dernière étape&nbsp;:</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Après avoir cliqué sur le bouton requis à l’issue de la seconde
            étape, l’Utilisateur est invité à vérifier ses informations
            personnelles et à les corriger si besoin, puis à les valider
            toujours en cliquant sur le bouton prévu à cet effet. Cette dernière
            étape validée, l’Utilisateur reçoit alors un courrier électronique
            lui communiquant un mot de passe automatiquement généré par le Site.
            Ce mot de passe lui permettra de souscrire aux Services souhaités, <em>
              via
            </em> un Abonnement, puis d’y accéder ultérieurement une fois sa commande
            validée.
          </span>
        </p>
        <p class="mb-4">
          <u>
            <span>Pour rappel</span>
          </u><span>
            &nbsp;: Aucun accès aux Services payants du Site, <em>via</em>un
            Abonnement, ne sera possible sans l’acceptation préalable et
            cumulative des présentes C.G.U. et des C.G.V. de la Société. Toute
            commande d’un Abonnement ultérieurement effectuée par l’Utilisateur
            va donc également requérir, au préalable, l’acceptation des C.G.V.
            de la Société disponibles dans la rubrique «&nbsp;C.G.V.&nbsp;» du
            Site.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>À noter&nbsp;:&nbsp;</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Un Utilisateur ne peut être titulaire que d’un seul Compte
            qui sera nécessairement rattaché à son adresse de messagerie
            électronique,<br />—&nbsp;Si tout ou partie des informations
            personnelles requises que l’Utilisateur doit renseigner
            s’avéreraient incomplètes ou fausses, la Société se réserve le droit
            de suspendre et/ou de clôturer le Compte de l’Utilisateur, mais
            également de lui refuser l’accès à tout ou partie des
            fonctionnalités du Site, ceci sans préavis ni indemnités,<br />—&nbsp;À
            tout moment, l’Utilisateur peut modifier les paramètres de son
            Compte et des informations personnelles que celui-ci contient (par
            exemple son mot de passe), ceci, simplement, en accédant à la
            rubrique «&nbsp;Mon Compte&nbsp;» disponible sur le Site,<br />—&nbsp;Toute
            utilisation d’un Compte Client demeure sous la seule responsabilité
            de l’Utilisateur concerné qui l’a créé. Ce dernier reste donc seul
            responsable des actes de toute personne utilisant son Compte Client,
            mais également de la préservation de la confidentialité de son
            identifiant et de son mot de passe, ainsi que de toute donnée
            personnelle qu’il transmet à la Société,<br />—&nbsp;En cas
            d’utilisation frauduleuse de son Compte Client, de son identifiant
            ou encore de son mot de passe, l’Utilisateur s’engage à en informer
            immédiatement la Société, <br />—&nbsp;En cas d’oubli/perte de mot
            de passe, l’Utilisateur Client peut toujours se rendre à la rubrique
            «&nbsp;Connexion&nbsp;» du Site et accéder à la sous-rubrique
            «&nbsp;Mot de passe oublié&thinsp;?&nbsp;», ceci afin de saisir
            l’adresse de messagerie électronique associée à son Compte Client.
            Une fois renseignée et validée son adresse de messagerie
            électronique, l’utilisateur reçoit un courrier électronique lui
            permettant alors de créer un nouveau mot de passe,<br />—&nbsp;Certaines
            des fonctionnalités du Site basées sur des informations
            géographiques peuvent nécessiter de partager des données de
            localisation, notamment la position géographique de l’appareil
            mobile de l’Utilisateur. Si l’Utilisateur souhaite pouvoir utiliser
            ces fonctionnalités, il s’engage à accepter l’utilisation par la
            Société de ses données de localisation géographique depuis son
            appareil mobile, lorsque cela lui sera sollicité. De plus amples
            informations sur la collecte et l’utilisation des données
            personnelles par la Société sont communiquées à l’article&nbsp;8 <em>
              «&nbsp;Protection de la vie privée et des données personnelles -
              Cookies&nbsp;»
            </em> des présentes C.G.U.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Les trois étapes de création de Compte Client validées,
            l’Utilisateur peut alors, dans les conditions posées aux C.G.V. de
            la Société (disponibles dans la rubrique «&nbsp;C.G.V.&nbsp;» du
            Site), souscrire à un Abonnement permettant l’accès aux Services
            désirés.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;5 — RESPONSABILITÉ DES UTILISATEURS</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <strong><span>Obligations générales des Utilisateurs —</span></strong><span>L’Utilisateur,
            Client ou simple visiteur, s’engage à accéder au Site et à utiliser
            ses fonctionnalités conformément aux lois en vigueur et aux
            présentes C.G.U.</span>
        </p>
        <p class="mb-4">
          <span>
            L’Utilisateur est et demeure, en toutes circonstances, maître de son
            utilisation du Site, de ses fonctionnalités et des Services auxquels
            il accède. En conséquence, ce dernier doit faire preuve de
            discernement et de prudence s’agissant des informations auxquelles
            il accède et/ou transmet lors de son utilisation du Site et des
            Services.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Toujours dans le cadre de son utilisation des fonctionnalités du
            Site et des Services, l’Utilisateur doit s’attacher à faire preuve
            de mesure dans ses propos. Il s’engage, par ailleurs, à ne pas
            contrevenir aux lois et règlements en vigueur.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’Utilisateur s’interdit ainsi, tout particulièrement&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;De détourner la finalité du Site, de ses fonctionnalités et
            des Services pour faire de la propagande ou du prosélytisme, du
            racolage ou de la prospection,<br />—&nbsp;De diffuser des
            informations contraires à l’ordre public et aux bonnes mœurs,<br />—&nbsp;De
            publier des informations contrevenant à la réglementation sur la
            protection des données personnelles permettant l’identification des
            personnes physiques sans leur consentement, ou de collecter et
            stocker des données personnelles afférentes aux autres Utilisateurs,<br />—&nbsp;De
            transmettre tout message contenant des virus informatiques ou tout
            autre code, dossier ou programme conçus en particulier pour
            interrompre, détruire ou limiter la fonctionnalité de logiciels,
            ordinateurs ou tous autres outils de télécommunication,<br />—&nbsp;De
            communiquer des informations renvoyant vers des sites tiers dont le
            contenu serait susceptible de contrevenir à toute loi ou
            réglementation en vigueur (en particulier en matière de droits des
            personnes et des biens et/ou de droits de propriété intellectuelle),<br />—&nbsp;De
            diffuser des contenus contraires aux droits de la personnalité de
            tiers ou présentant un caractère injurieux, diffamatoire, offensant,
            obscène, pornographique, violent ou incitant à la discrimination, à
            la violence politique, raciste, xénophobe, alienophobe, sexiste ou
            homophobe,<br />—&nbsp;De harceler de quelque manière que ce soit un
            autre ou plusieurs autres Utilisateurs,<br />—&nbsp;De porter
            atteinte à des droits de propriété intellectuelle de tiers.
          </span>
        </p>
        <p class="mb-4">
          <span>
            À ce titre, l’Utilisateur i) garantit la Société contre toute
            réclamation, action et/ou revendication de tiers dont elle pourrait
            faire l’objet et ii) s’engage, à prendre à sa charge exclusive
            l’ensemble des sommes, dommages et intérêts, frais, honoraires
            d’avocat et dépens auxquels la Société pourrait être condamnée, sans
            préjudice de la réparation du préjudice propre de cette dernière.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Par ailleurs, l’Utilisateur est seul responsable du préjudice direct
            ou indirect qu’il est susceptible de subir du fait d’informations
            inexactes, incomplètes, et/ou trompeuses qu’il communiquerait lors
            de son inscription et/ou en l’absence de mise à jour de ces
            informations, ce dont il assume seul les conséquences.
          </span>
        </p>
        <p class="mb-4">
          <span>
            En tant que de besoin, la Société se réserve le droit, sans aucune
            indemnité et sans préavis, de suspendre ou de fermer le Compte de
            l’Utilisateur et/ou de lui refuser l’accès à tout ou partie des
            fonctionnalités du Site et des Services en cas d’utilisation non
            conforme aux présentes C.G.U.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Les Utilisateurs demeurent responsables de l’utilisation du Site, de
            leurs actes et doivent respecter les présentes en agissant de
            manière compatible avec les fonctionnalités du Site et les
            législations et réglementations en vigueur. Toute autre utilisation
            donne droit à la Société d’agir dans les conditions rappelées à
            l’article&nbsp;7 <em>«&nbsp;Suspension — Résiliation&nbsp;»</em> ci-dessous.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>À noter&nbsp;:&nbsp;</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Les C.G.V. de la Société (disponibles dans la rubrique
            «&nbsp;C.G.V.&nbsp;» du Site) peuvent également contenir des
            obligations particulières applicables aux seuls Utilisateurs Clients
            des Services. Ces obligations particulières se cumulent avec les
            présentes obligations générales applicables à tout Utilisateur,
            Client ou simple visiteur du Site et des Services.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;6 — RESPONSABILITÉ DU SITE</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <strong><span>6.1. Prestations techniques —</span></strong><span>La
            connexion au Site implique la connaissance et l’acceptation par
            l’Utilisateur des caractéristiques et des limites de l’Internet et
            des réseaux de téléphonie mobile, notamment concernant les
            performances techniques, les temps de réponse pour consulter,
            interroger ou transférer des informations, les risques
            d’interruption, et plus généralement, les risques inhérents à toute
            connexion et transmission sur Internet/réseaux de téléphonie mobile,
            l’absence de protection de certaines données contre des
            détournements éventuels et les risques de contamination par
            d’éventuels virus informatiques circulant sur les réseaux Internet
            et de téléphonie mobile.</span>
        </p>
        <p class="mb-4">
          <span>
            En conséquence, la Société ne saurait en aucune circonstance être
            tenue pour responsable, sans que cette liste ne soit
            limitative&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;De tout dysfonctionnement des réseaux Internet et de
            téléphonie mobile empêchant le bon déroulement et/ou fonctionnement
            des Services,<br />—&nbsp;De la transmission et/ou de la réception
            de toute donnée et/ou information sur Internet ou sur réseaux de
            téléphonie mobile,<br />—&nbsp;De la défaillance de tout matériel de
            réception ou des lignes de communication, de la perte de toute
            donnée, ou encore des conséquences de tout virus ou bogue
            informatiques, anomalie, défaillance technique,<br />—&nbsp;De toute
            défaillance technique, matérielle et logicielle de quelque nature,
            ayant endommage l’ordinateur et/ou l’appareil mobile d’un
            Utilisateur.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Il appartient à tout Utilisateur de prendre toutes les mesures
            appropriées de façon à protéger ses propres données et/ou logiciels
            stockés sur son ordinateur et/ou appareil mobile contre toute
            atteinte.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Enfin, la Société ne saurait voir sa responsabilité engagée au titre
            d’éventuels dysfonctionnements des réseaux Internet et de téléphonie
            mobile pouvant entrainer des défaillances dans l’administration, la
            sécurité, l’intégrité ou encore la gestion des données d’un Compte
            Client.
          </span>
        </p>
        <p class="mb-4">
          <strong><span>6.2 Accessibilité et continuité du Site</span></strong><span>—
            Par principe, le Site est accessible 7 jours sur 7 et 24 heures sur
            24, sauf interruption, programmée ou non, notamment pour les besoins
            de sa maintenance ou cas de force majeure.</span>
        </p>
        <p class="mb-4">
          <span>
            Toutefois, la Société n’est tenue qu’à une obligation de moyens dans
            la continuité du Site et des Services.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Par conséquent, la Société ne garantit en aucun cas que le site et
            les Services proposés seront continus, sans interruption provisoire
            ou définitive, ou encore sans suspension ou sans erreur.
          </span>
        </p>
        <p class="mb-4">
          <span>
            En outre, toute évolution ou changement des Services pourra
            entrainer une mise à jour et/ou une indisponibilité temporaire du
            Site, laquelle ne saurait en aucune manière engager la
            responsabilité de la Société.
          </span>
        </p>
        <p class="mb-4">
          <span>La responsabilité de la Société</span><span>
            ne peut être engagée qu’en cas de faute intentionnelle ou de
            négligence grave prouvée et est limitée aux préjudices direct
          </span><span>que l’Utilisateur pourra subir</span><span>
            , à l’exclusion de tous
          </span><span>
            dommages ou pertes indirects, ainsi que tous dommages immatériels
            tels que la perte de profits, la perte de bénéfices, la perte
            d’usage, la perte ou l’altération de données, ou les coûts engendrés
            par l’acquisition de produits ou services de substitution, résultant
            de l’utilisation ou du fonctionnement du Site et/ou de ses Services,
            ou encore des données accessibles via le Site.
          </span>
        </p>
        <p class="mb-4">
          <span>
            La Société ne pourra accepter aucune réclamation relative à une
            inexécution ou mauvaise exécution des Services qui serait imputables
            soit à l’Utilisateur, soit au fait d’un tiers étranger à la
            fourniture des Services, soit à un cas de force majeure tel que
            défini à l’article&nbsp;15 ci-dessous.
          </span>
        </p>
        <p class="mb-4">
          <span>
            La Société pourrait être conduite à proposer aux Utilisateurs
            l’accès à des sites tiers (Voir l’article&nbsp;10 – <em>
              «&nbsp;liens depuis/vers le Site&nbsp;»
            </em>, ci-après). Dans ce cas, la Société ne saurait assumer la
            responsabilité des activités de ces tiers et engage ses visiteurs à
            prendre connaissance des conditions générales d’utilisations
            applicables à ces sites tiers.
          </span>
        </p>
        <p class="mb-4">
          <strong><span>6.3. Responsabilité de la Société</span></strong><span><strong>
              en qualité d’hébergeur
            </strong>— la Société n’est légalement tenue à aucune obligation
            générale de surveillance du contenu transmis ou stocké via le Site.</span>
        </p>
        <p class="mb-4">
          <span>
            Les seules obligations inhérentes à la qualité d’hébergeur de la
            Société concernent i) la conservation des données de connexion des
            Utilisateurs, par ailleurs couvertes par le secret professionnel et
            traitées dans le respect des dispositions légales en matière de
            données personnelles et ii) le retrait de tout contenu manifestement
            illicite, dès lors que la Société en aura eu effectivement
            connaissance.
          </span>
        </p>
        <p class="mb-4">
          <strong><em><span>&nbsp;</span></em></strong><strong>
            <span>
              6.4. Responsabilité de la Société en qualité de prestataire de
              Services
            </span>
          </strong><span>
            — la Société s’engage à apporter toute la diligence et le soin
            nécessaires à la fourniture de Services de qualité.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Cependant, la Société ne répond que d’une obligation de moyens au
            terme de laquelle ses prestations de Services seront exécutées dans
            le strict respect des règles professionnelles en usage, ainsi que,
            le cas échéant, conformément aux conditions de la commande de
            l’Utilisateur Client effectuée par ce dernier après avoir
            préalablement accepté les C.G.V. de la Société (disponibles dans la
            rubrique «&nbsp;C.G.V.&nbsp;» du Site).
          </span>
        </p>
        <p class="mb-4">
          <span>
            Compte tenu de son obligation de moyens, la Société ne garantit en
            aucun cas&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;L’adéquation de son service de recherche et de mise à
            disposition de modes d’emploi (dans la base de données y afférentes
            produite par ses soins) et de ses guides pratiques, avec les besoins
            de l’Utilisateur Client&thinsp;;<br />—&nbsp;L’adéquation des
            services proposés et assurés par ses Partenaires, notamment en
            matière d’assistance technique téléphonique pour l’informatique,
            avec les besoins de l’Utilisateur Client.
          </span>
        </p>
        <p class="mb-4">
          <span>
            En conséquence, la Société ne pourra en aucun cas être tenue
            responsable du fait de toute erreur, imprécision ou omission
            contenue i) dans sa base de données des modes d’emploi établis par
            les constructeurs et fabricants concernés (qui en demeurent, par
            ailleurs, seuls propriétaires et responsables), ii) dans ses guides
            pratiques et iii) dans le cadre des prestations d’assistance
            technique assurées par ses Partenaires, qui serait à l’origine d’un
            dommage direct et/ou indirect causé à tout Utilisateur Client et/ou
            au matériel quel qu’il soit lui appartenant.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <span>6.5. Responsabilité des Partenaires de la Société,</span>
          </strong><span>
            <strong>en qualité de prestataires de Services</strong> — les Partenaires
            de la Société s’engagent à apporter toute la diligence et le soin nécessaires
            à la fourniture de Services de qualité conformément aux usages de la
            profession et à l’état de l’art. Les Partenaires de la Société s’engagent
            notamment à informer l’Utilisateur Client au mieux de leurs connaissances
            sur les risques inhérents à l’intervention demandée.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Cependant, dans la mesure où le bon fonctionnement d’un nouvel
            équipement, d’un logiciel, ou le résultat d’une prestation
            informatique, ne dépend pas seulement de la qualité des matériels et
            logiciels installés et des services réalisés, mais aussi de facteurs
            indépendants des Partenaires de la Société, tels que l’installation
            d’origine, les méthodes de travail et la qualification de
            l’Utilisateur Client, les Partenaires de la Société ne répondent que
            d’une obligation de moyens et non de résultat, au terme de laquelle
            leurs prestations de Services respectives seront exécutées dans le
            strict respect des règles professionnelles en usage qui leur sont
            applicables, ainsi que, le cas échéant, conformément aux conditions
            de la commande de l’Utilisateur Client effectuée par ce dernier
            après avoir préalablement accepté les C.G.V. de la Société
            (disponibles dans la rubrique «&nbsp;C.G.V.&nbsp;» du Site).
          </span>
        </p>
        <p class="mb-4">
          <span>
            Compte tenu de leur obligation de moyens, les Partenaires de la
            Société ne garantissent en aucun cas&nbsp;:<br />—&nbsp;L’adéquation
            de leurs services, notamment en matière d’assistance technique
            téléphonique pour l’informatique, avec les besoins de l’Utilisateur
            Client&thinsp;;<br />—&nbsp;Le contenu, l’efficacité technique et la
            conformité avec les réglementations applicables de leurs prestations
            d’assistance technique.
          </span>
        </p>
        <p class="mb-4">
          <span>
            En conséquence, les Partenaires de la Société ne pourront en aucun
            cas être tenus responsables du fait de toute erreur, imprécision ou
            omission contenue dans leurs prestations d’assistance technique et
            qui serait à l’origine d’un dommage direct et/ou indirect causé à
            tout Utilisateur Client et/ou matériel appartenant à ce dernier.
          </span>
        </p>
        <p class="mb-4">
          <strong><em><span>&nbsp;</span></em></strong><span>Les Partenaires de
            la Société ne pourront en aucun cas être considérés comme
            responsables des dommages directs ou indirects résultant de
            l’utilisation du matériel, y compris en cas de pertes de données ou
            d’information, du moment qu’ils ont informé l’Utilisateur Client
            qu’il devait avoir ses sauvegardes à jour.</span>
        </p>
        <p class="mb-4">
          <span>
            Les Partenaires ne pourront être rendus responsables des pannes ou
            anomalies de fonctionnement du matériel préalables à leurs
            interventions respectives.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Enfin, la responsabilité des Parties ne pourra être recherchée en
            cas de force majeure, ou pour d’autres motifs indépendants de sa
            volonté tels qu’interruptions du travail, grèves, sinistres ou
            accidents (voir article&nbsp;15 des présentes C.G.U.)
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;7 — SUSPENSION — RÉSILIATION</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Les Utilisateurs sont responsables de leurs actes set agissements
            dans le cadre de leur utilisation du Site et de ses fonctionnalités,
            ils doivent dès lors respecter les règles posées aux présentes
            C.G.U. en agissant de manière compatible avec le Site et les
            législations et réglementations en vigueur.
          </span>
        </p>
        <p class="mb-4">
          <span>
            La Société est autorisée à utiliser toutes les mesures nécessaires
            pour prévenir ou détecter les usages illicites ou frauduleux de son
            Site et de ses Services.
          </span>
        </p>
        <p class="mb-4">
          <span>
            En cas de non-respect par l’Utilisateur de l’une quelconque des
            dispositions des présentes C.G.U., la Société se réserve le droit,
            sans préavis ni indemnité, et en tenant compte de la gravité du
            manquement constaté, de&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Informer l’Utilisateur dudit manquement et lui demander d’y
            remédier&thinsp;;
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Suspendre l’accès de l’Utilisateur à tout ou partie du Site,
            de ses fonctionnalités et des Services&thinsp;;
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;En dernier ressort, et à défaut pour l’Utilisateur d’avoir
            remédié au manquement constaté dans un délai raisonnable, résilier
            son accès au Site, ses fonctionnalités et aux Services (en
            supprimant parallèlement son Compte et son contenu)&thinsp;;
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Et ce, sans préjudice de toutes autres actions de droit
            commun qui pourraient être ouvertes à la Société ainsi que de tous
            dommages-intérêts auxquels cette dernière pourrait prétendre.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>
                ARTICLE&nbsp;8 — PROTECTION DE LA VIE PRIVÉE ET DES DONNÉES
                PERSONNELLES - COOKIES
              </span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <strong><span>8.1. Données personnelles</span></strong>
        </p>
        <p class="mb-4">
          <span>
            Conformément à loi bulgare de Protection des données personnelles
            (également désigné «&nbsp;<em>
              Bulgarian Personal Data Protection Act
            </em>&nbsp;») du 21 décembre 2001, ainsi qu’au Règlement européen
            sur la protection des données n°2016/679 du 27 avril 2016 <em>
              («&nbsp;RGPD&nbsp;»)
            </em>, les personnes qui, s’étant connectées au Site et ont répondu
            aux questions de l’inscription afin d’accéder au Site et à ses
            fonctionnalités, disposent à tout moment&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;D’un droit d’accès&nbsp;: L’Utilisateur peut, en justifiant
            de son identité, obtenir communication des données le concernant et
            contrôler leur exactitude&thinsp;;
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;D’un droit de rectification&nbsp;: en cas d’inexactitude de
            ces informations, il peut exiger qu’elles soient rectifiées,
            complétées, actualisées, verrouillées ou effacées&thinsp;;
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;D’un droit à l’effacement («&nbsp;droit à
            l’oubli&nbsp;»)&nbsp;: L’Utilisateur peut obtenir l’effacement, dans
            les meilleurs délais, des données le concernant&thinsp;;
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;D’un droit à la limitation du traitement&nbsp;: L’Utilisateur
            peut, dans certains cas prévus par la réglementation, obtenir la
            limitation du traitement des données le concernant&thinsp;;
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;D’un droit à la portabilité des données&nbsp;: L’Utilisateur
            peut, dans les conditions posées par la réglementation, exiger la
            transmission des données le concernant à un autre responsable de
            traitement, sans que la Société qui les a initialement collectées ne
            puisse s’y opposer&thinsp;;
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;D’un droit d’opposition&nbsp;: L’Utilisateur a la possibilité
            de s’opposer à ce que ses données fassent l’objet d’un traitement ou
            de refuser la communication des informations qui le concernent à des
            tiers.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Pour exercer ces droits, l’Utilisateur devra contacter le service
            Clientèle.
          </span>
        </p>
        <p class="mb-4">
          <span>
            En tout état de cause, l’Utilisateur veillera à rappeler ses nom(s),
            prénom(s), adresse et, le cas échéant, son numéro Client.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’engagement fort de la Société eu égard au respect de la vie privée
            et à la protection des données personnelles concernant les
            Utilisateurs de son Site, est matérialisé au travers de la mise en
            place d’une Politique de Confidentialité disponible dans la rubrique
            «&nbsp;Confidentialité&nbsp;» du Site.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Cette Politique de Confidentialité, partie intégrante des présentes
            C.G.U, a été élaborée par la Société pour que tout Utilisateur
            puisse, en toute confiance, naviguer sur le Site et utiliser ses
            fonctionnalités. Elle a ainsi pour objectif de renseigner
            l’Utilisateur sur les données susceptibles d’être collectées, sur
            l’usage que la Société peut en faire et sur les droits dont il
            dispose sur ces dernières.
          </span>
        </p>
        <p class="mb-4">
          <strong><span>8.2 Cookies</span></strong>
        </p>
        <p class="mb-4">
          <span>
            Pour offrir des contenus personnalisés et enrichis qui amélioreront
            l’expérience de l’Utilisateur, la Société peut utiliser des petits
            fichiers texte que l’on appelle des «&nbsp;cookies&nbsp;» qui sont
            susceptibles d’être enregistrés dans le terminal de l’Utilisateur
            (ordinateur, tablette, ou smartphone) lors de la consultation du
            Site avec un logiciel de navigation.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Techniquement, pendant sa durée de validité, un cookie va permettre
            à son émetteur de reconnaître le terminal concerné à chaque fois que
            ce terminal accèdera à un contenu numérique comportant des cookies
            du même émetteur. Sur ce même principe, et sous réserve des choix de
            l’Utilisateur préalablement et librement exprimés lorsqu’il se
            connecte au Site, la Société peut ainsi être amenée à installer dans
            le terminal de ce dernier divers cookies lui permettant de
            reconnaître son navigateur pendant toute la durée de validité du
            cookie concerné.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’engagement fort de de la Société eu égard au respect de la vie
            privée de ses Utilisateurs et à l’utilisation des cookies, est
            illustré au travers de la mise en place d’une Politique des Cookies
            disponible dans la rubrique «&nbsp;Cookies&nbsp;» du Site. Cette
            Politique, partie intégrante des présentes C.G.U., a été élaborée
            par la Société afin que tout Utilisateur puisse être dûment
            renseigné sur les cookies susceptibles d’être installés et sur leur
            usage potentiel, mais également sur la manière dont ils peuvent être
            activés (ou non) selon les choix de l’Utilisateur. Les cookies émis
            par la Société ou ses partenaires sont ainsi utilisés aux seules
            fins présentées dans sa Politique des Cookies, sous réserve des
            choix de l’Utilisateur qui résulteront du paramétrage de son
            logiciel de navigation employé lors de sa visite du Site.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;9 — PROPRIÉTÉ INTELLECTUELLE</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Les présentes C.G.U. n’emportent au bénéfice de l’Utilisateur,
            aucune cession de droits de propriété intellectuelle, quels qu’ils
            soient.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’Utilisateur reconnaît et accepte que les contenus (notamment les
            données, bases de données, logiciels, API, mise en page, charte
            graphique, photographies, vidéo, bandes-son, informations,
            documentation, tutoriels, formulaires, modes d’emploi, guides,
            illustrations, logos, marques, etc. ci-après désignés «&nbsp;le
            Contenu&nbsp;») qui apparaissent ou sont disponibles sur le Site,
            sont protégés au titre des droits d’auteur, des marques, des
            brevets, des producteurs de bases de données ou de tout autre droit
            reconnu par la législation en vigueur.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Par conséquent, toute copie, reproduction, représentation,
            adaptation, altération, modification, diffusion, intégrale ou
            partielle, du Contenu accessible sur le Site, qu’il s’agisse du
            Contenu appartenant à la Société, à un tiers ou à un Utilisateur,
            sans autorisation préalable, est illicite.
          </span>
        </p>
        <p class="mb-4">
          <span>
            À toutes fins utiles, et en tant que de besoin, il est également
            rappelé que les modes d’emploi mis à disposition de l’Utilisateur
            Client, au travers du service de recherche et de la base de données
            produite par la Société, demeurent l’entière propriété des
            constructeurs et fabricants concernés. La Société ne cède donc ni ne
            concède, en aucun cas, de quelconques droits de propriété
            intellectuelle sur les modes d’emploi recherchés par l’Utilisateur
            Client pour répondre à son besoin d’information sur le
            fonctionnement du ou des produits en sa possession. Seul un service
            de recherche de modes d’emploi à la requête de l’Utilisateur Client
            est en effet facturé dans le cadre de l’Abonnement (et en aucun cas
            les modes d’emploi pris en tant que tels) souscrit par l’Utilisateur
            Client.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Tout éventuel constructeur ou fabricant qui ne souhaiterait pas voir
            apparaitre un ou plusieurs modes d’emploi afférents à ses appareils,
            dans les résultats de recherche et la base de données de modes
            d’emploi produite par la Société, peut en requérir le retrait sur
            simple demande formulée auprès du Service Clientèle de la Société. À
            réception de la demande formulée par le constructeur ou le fabricant
            concerné, la Société procèdera immédiatement au retrait de contenu
            sollicité.
          </span>
        </p>
        <p class="mb-4">
          <span>
            À compter de son accès au Site, et de ce seul fait, la Société
            concède à l’Utilisateur, un droit d’usage privé, non exclusif et non
            collectif, à l’exclusion de toute utilisation lucrative. La
            concession est consentie pour le monde entier et aussi longtemps que
            le Site sera accessible. Ce droit d’usage n’est transmissible en
            aucune manière.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Sous réserve du droit d’usage concédé ci-dessus à l’Utilisateur, il
            est donc interdit de copier, reproduire, représenter, modifier et/ou
            exploiter, de quelque façon que ce soit et à quelque fin que ce
            soit, tout ou partie de la structure et du Contenu du Site.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Les informations et les bases de données accessibles sur le Site
            sont la propriété la Société, à l’exception des contenus de tiers et
            des signes distinctifs de tiers qui sont reproduits sur le Site. Par
            conséquent, sauf autorisation expresse et préalable de la Société,
            sont interdites toute reproduction, représentation et utilisation et
            notamment&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Toute adaptation, mise à disposition du public à sa demande
            ou non, distribution, rediffusion
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sous quelque forme que ce
            soit, mise en réseau, communication publique de tout ou partie des
            Services, œuvres, prestations, marques et de tous éléments protégés
            ou susceptibles de &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; protection par le
            droit de la propriété intellectuelle reproduits sur le Site,
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Toute extraction ou réutilisation, répétée et systématique, y
            compris à des fins privées, d’une partie même non substantielle du
            contenu des bases de données dont la Société est productrice.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Tout Utilisateur ne respectant pas les termes du présent article
            s’expose aux poursuites civiles ou pénales qui répriment les
            atteintes au droit d’auteur, aux droits des marques et des brevets,
            aux droits des producteurs de bases de données ainsi qu’aux systèmes
            de traitement automatisé de données.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;10 — LIENS DEPUIS/VERS LE SITE</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <strong><span>10.1. Liens depuis le Site</span></strong>
        </p>
        <p class="mb-4">
          <span>
            Le Site peut contenir des liens pointant vers d’autres sites
            Internet qui n’appartiennent pas à la Société et/ou ne sont pas
            contrôlés par la Société. Ces sites Internet tiers peuvent être des
            sites Internet officiels de l’administration, institutionnels ou
            encore privés ou commerciaux.
          </span>
        </p>
        <p class="mb-4">
          <span>
            La Société n’exerce aucun contrôle sur le contenu, les chartes de
            protection des données personnelles ou les pratiques des sites tiers
            et décline toute responsabilité à cet égard.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’Utilisateur reconnaît et accepte que la Société ne soit pas
            responsable de la disponibilité de ces sites et ressources externes
            et ne cautionne ni la publicité, ni les produits ou autres matériels
            figurant sur ces sites Internet ou ressources externes, ou
            accessibles depuis ceux-ci.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’Utilisateur reconnaît et accepte que la Société ne puisse être
            tenu responsable de toute perte ou dommage qu’il peut subir du fait
            de la mise à disposition de ces sites ou ressources externes ou du
            fait de la confiance qu’il accorde quant à l’exhaustivité,
            l’exactitude ou l’existence de toute publicité, tout produit ou
            autre matériel sur ces sites Internet ou ressources, ou accessibles
            depuis ceux-ci.
          </span>
        </p>
        <p class="mb-4">
          <span>
            La Société encourage les Utilisateurs à être vigilants lorsqu’ils
            quittent le Site et à lire les conditions générales et les principes
            de protection des données personnelles des autres sites qu’ils
            peuvent visiter.
          </span>
        </p>
        <p class="mb-4">
          <strong><span>10.2. Liens vers le Site</span></strong>
        </p>
        <p class="mb-4">
          <span>La Société autorise l’Utilisateur à créer&nbsp;:</span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Un ou plusieurs liens pointant vers la page d’accueil du
            Site,
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Un ou plusieurs liens pointant vers la page d’accueil des
            différentes rubriques du Site.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Néanmoins, si le ou les liens crées par l’Utilisateur, lui
            paraissent de nature à porter atteinte à ses intérêts, la Société se
            réserve le droit de mettre fin à tout moment à la présente
            autorisation et à requérir de l’Utilisateur, le retrait immédiat du
            ou des hyperliens litigieux. En tout état de cause, l’existence d’un
            lien en provenance d’un site tiers vers le Site n’implique en aucun
            cas, une quelconque coopération entre la Société et ce site tiers.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Comme pour les liens depuis le Site dont il est fait état ci-dessus,
            L’Utilisateur reconnaît et accepte que la Société n’exerce aucun
            contrôle sur les sites de tiers et n’assume par conséquent, aucune
            responsabilité quant aux contenus, produits, services, informations,
            matériaux, logiciels des sites tiers comportant un lien vers le
            Site.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>
                ARTICLE&nbsp;11 — ACCEPTATION DES CONDITIONS GÉNÉRALES
                D’UTILISATION
              </span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Tout Utilisateur ne souhaitant pas adhérer aux présentes C.G.U. doit
            impérativement s’abstenir d’accéder au Site, aux Services et aux
            fonctionnalités offerts par ces derniers.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’Utilisateur ne pourra pas utiliser le Site et ses fonctionnalités
            et, par conséquent, accepter les présentes C.G.U. si&nbsp;:
          </span>
        </p>
        <p class="mb-4">
          <span>
            —&nbsp;Il n’a pas atteint la majorité légale requise pour conclure
            un contrat avec la Société et ne dispose pas de la pleine capacité
            d’accepter les présentes C.G.U.,<br />—&nbsp;Il n’agit pas à des
            fins strictement personnelles,<br />—&nbsp;Les lois de son pays de
            résidence ou du pays à partir duquel il accède aux Services ou
            l’utilise lui interdisent de recevoir ou d’utiliser Services ou
            prohibe une telle réception ou utilisation.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’acceptation des présentes C.G.U. résultera du fait de cocher la
            case prévue à cet effet sur le Site dans le cadre de la procédure
            d’inscription prévue à l’article&nbsp;3 ci-dessus.
          </span>
        </p>
        <p class="mb-4">
          <span>
            En tout état de cause, l’utilisation du Site par l’Utilisateur,
            emporte acceptation pleine et entière des présentes C.G.U.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>
                ARTICLE&nbsp;12 — MODIFICATION ET CONSULTATION DES CONDITIONS
                GÉNÉRALES D’UTILISATION
              </span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            La Société se réserve la faculté de modifier, unilatéralement et
            sans préavis, les Présentes C.G.U.
          </span>
        </p>
        <p class="mb-4">
          <span>
            En utilisant les Sites et Services de la Société, les Utilisateurs
            reconnaissent et acceptent, sans restriction ni réserve, ces C.G.U.
            dans la lettre et dans l’esprit, et s’engagent à s’y référer
            systématiquement lors de chaque connexion. En cas de modification de
            ces dernières, si l’Utilisateur n’agrée par les nouvelles C.G.U., il
            devra alors s’abstenir de continuer à utiliser le Site.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’ensemble des dispositions des C.G.U., par ailleurs imprimables,
            peuvent être consultées gratuitement et à tout moment sur le Site,
            dans la rubrique «&nbsp;C.G.U.&nbsp;» dédiée.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>
                ARTICLE&nbsp;13 — CONDITIONS GÉNÉRALES DE VENTE APPLICABLES AUX
                UTILISATEURS CLIENTS
              </span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            L’accès aux Services via la souscription d’un Abonnement implique
            que l’Utilisateur accepte et respecte les Conditions Générales de
            Vente de la Société (ci-après désignées les «&nbsp;Conditions
            Générales de Vente&nbsp;»), disponible dans la rubrique
            «&nbsp;C.G.V.&nbsp;» du Site.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Ces Conditions Générales de Vente expressément acceptées avant toute
            souscription à un Abonnement aux Services s’appliqueront à tout
            Utilisateur Client, cumulativement avec les présentes C.G.U. et les
            éventuelles Conditions Particulières d’Utilisation pouvant également
            exister conformément à l’article&nbsp;14 ci-dessous.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>
                ARTICLE&nbsp;14 — EXISTENCE DE CONDITIONS PARTICULIÈRES
                D’UTILISATION ET/OU DE VENTE
              </span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Certaines fonctionnalités proposées peuvent impliquer que
            l’Utilisateur doive accepter et respecter des conditions
            particulières, une licence d’utilisation ou une charte d’utilisation
            (ci-après désignées les «&nbsp;Conditions Particulières
            d’Utilisation et/ou de Vente&nbsp;») disponible sur les pages du
            Site dédiées à ces fonctionnalités.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Sauf indication contraire, ces Conditions Particulières
            d’Utilisation et/ou de Vente s’appliqueront cumulativement avec les
            présentes C.G.U.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Toutefois, en cas de contradiction avec les présentes C.G.U., ce
            sont les Conditions Particulières d’Utilisation et/ou de Vente qui
            prévaudront.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;15 — FORCE MAJEURE</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            En cas de force majeure, les obligations nées des présentes C.G.U.
            sont suspendues pendant toute la durée de leur exécution.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Toutefois, si le cas de force majeure persistait au-delà d’une
            période de 30 (trente) jours consécutifs, les présentes C.G.U.
            seront automatiquement résiliées, sauf accord contraire des Parties.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Sont considérés comme des cas de force majeure au titre des
            présentes C.G.U., outre ceux habituellement retenus par la
            jurisprudence des cours et tribunaux bulgares&nbsp;: les cas de
            grève, lock-out, attentats, intempéries, épidémie, blocage des
            moyens de transport et d’approvisionnement, tremblement de terre,
            incendie, tempête, inondation, dégâts des eaux, restrictions
            gouvernementales ou légales, perturbations dans les
            télécommunications (Internet et/téléphonie mobile) et tous autres
            cas indépendants de la volonté des Parties, empêchant l’exécution
            normale des présentes C.G.U. ou l’utilisation normale du Site, ses
            Services et ses fonctionnalités.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;16 — NON-RENONCIATION</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Le fait pour la Société de ne pas se prévaloir d’une défaillance ou
            d’un manquement de l’Utilisateur à l’une quelconque de ses
            obligations contractuelles ou légales ne saurait être interprété
            comme une renonciation à se prévaloir de cette défaillance ou de ce
            manquement.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Le fait pour la Société de ne pas se prévaloir d’une stipulation des
            présentes C.G.U. n’emporte aucunement renonciation au bénéfice de
            ladite stipulation.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;17 — PREUVE, CONSERVATION ET ARCHIVAGE</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Les registres informatisés conservés dans les systèmes informatiques
            de la Société dans des conditions raisonnables de sécurité seront
            considérés comme les preuves des communications intervenues entre
            l’Utilisateur et la Société.
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’archivage des présentes C.G.U. acceptées par l’Utilisateur dans
            les conditions posées à l’article&nbsp;11 ci-dessus est effectué sur
            un support fiable et durable de manière à correspondre à une copie
            fidèle et durable. En cas de conflit entre les registres
            informatisés de la Société et tout document sur support écrit ou
            fichier électronique de l’Utilisateur, il est expressément convenu
            que les registres informatisés de la Société primeront sur les
            documents de l’Utilisateur et seront seuls admis à titre de preuve.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>ARTICLE&nbsp;18 — SERVICE CLIENTÈLE — INFORMATIONS</span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>
            Pour toutes questions relatives aux présentes C.G.U., au Site et ses
            fonctionnalités ou aux Services de manière générale<em>,</em> l’Utilisateur
            est invité à prendre contact avec la Société<em>via</em>la rubrique
            «&nbsp;Nous Contacter&nbsp;» du Site, permettant de joindre le
            Service Clientèle par email, téléphone et voie postale.
          </span>
        </p>
        <p class="mb-4">
          <span>
            La Société rappelle également qu’il appartient à tout Utilisateur de
            s’assurer de la bonne réception des courriers électroniques émanant
            de la Société, comme de tout autres tiers.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Néanmoins, consciente qu’il arrive fréquemment que les courriers
            électroniques ne parviennent pas à leur destinataire (en raison soit
            de filtres antispam, d’un pare-feu ou encore de la capacité maximale
            d’une boîte de réception), la Société offre à tout Utilisateur la
            possibilité de solliciter la communication de toutes informations
            et/ou de documents le concernant (renvoi de courriers électroniques,
            factures, etc.), sur simple demande formulée auprès du Service
            Clientèle.
          </span>
        </p>
        <p class="mb-4">
          <strong>
            <u>
              <span>
                ARTICLE&nbsp;19 — DROIT APPLICABLE — RÉSOLUTION DES LITIGES
              </span>
            </u>
          </strong>
        </p>
        <p class="mb-4">
          <span>Les présentes C.G.U. sont soumises au droit bulgare.</span>
        </p>
        <p class="mb-4">
          <span>
            En cas de litige susceptible de survenir dans le cadre de
            l’exécution ou de l’interprétation des présentes C.G.U., et avant
            toute éventuelle action contentieuse, l’Utilisateur Client est
            invité à se rapprocher de la Société en vue de parvenir à un
            règlement amiable (procédure de médiation conventionnelle ou tout
            autre mode alternatif de règlement des différends).
          </span>
        </p>
        <p class="mb-4">
          <span>
            L’attribution de compétence en cas de litige, et à défaut d’accord
            amiable entre l’Utilisateur Client et la Société, est donnée de
            manière non exclusive aux Tribunaux compétents de ville Sofia.
          </span>
        </p>
        <p class="mb-4">
          <span>
            Enfin, si l’Utilisateur Client souhaite attirer l’attention de la
            Société sur un sujet en particulier relatif aux présentes C.G.U., il
            peut également prendre contact avec le Service Clientèle dans la
            rubrique «&nbsp;Nous Contacter&nbsp;» du Site.
            <br />Version 1
            <br />Date de dernière mise à jour : juillet 2019
          </span>
        </p>
      </div>

      <div class="mt-6 sticky bottom-0 py-4 bg-white text-center">
        <a href="#" class="btn btn--lg btn--success" data-modal-close>
          Valider
        </a>
      </div>
    </div>
  </div>
</div>
